target
*.iml
*.iws
*.ipr
.project
.classpath
.settings
.metadata
.svn
.idea
.checkstyle
atlassian-ide-plugin.xml
.sonar-ide.properties
*.patch
.vscode/
.DS_Store
Thumbs.db
*.swp
*~
release.properties
pom.xml.releaseBackup
